body {

background-color: #d5c4a0;
color: black;

}

main {

max-width: 1000px;
margin: auto;
padding: 30px;

}

header{

text-align: center;
padding: 40px;
display: flex;
align-items: center;
justify-content: center;
gap: 20px;

}

h1{
font-size: 45px;
text-transform: uppercase;

}

article{

background-color: #ead8adf6;
padding: 25px;
margin: 30px 0;
border: 2px solid #6b4b2a; 

}

article img{

width: 300px;
height: 200px;
object-fit: contain;
}

.dragon-info{

display: none;


}



