body {

background-color: #d6c29a;
color: black;

}

main {

max-width: 1000px;
margin: auto;
padding: 30px;

}

header{

text-align: center;
padding: 40px;
display: flex;
align-items: center;
justify-content: center;
gap: 20px;

}






